@{
    ViewData["Title"] = "Home Page";
}

<style>
    .end {
        position: absolute;
        bottom: 30px;
        left: 0px;
    }

    .end p {
        margin-left: 120px;
    }

    .actions {
        display: flex;
        flex-direction: column;
    }
</style>


<div class="container">
    <div class="row align-items-center ">
       <h2>Welcome to CarRental App</h2>

    <div class="actions">
            <a class="a" asp-area="" asp-controller="Car" asp-action="Index">View Cars</a>
        <a class="a" asp-area="" asp-controller="Car" asp-action="MyCars">View My Cars</a>
            <a class="a"  asp-area="" asp-controller="Rental" asp-action="Index">Rentals</a>
            <a asp-area="" asp-controller="Rental" asp-action="MyRentals">My Rentals</a>
    </div>
    <div class="end">
        <p>Made With Love By 
            <strong>
                    Khuzaima Ahmed
             </strong>,
             <strong>
             Abdul Hanan Mohil
             </strong>&
                <strong>Adeel Ahmad</strong>
            </p>
        </div>
    </div>
</div>
